div{
    height: 300px;
    width: 300px;
    margin: 15px;
    border: 2px solid red;
    border-radius: 15px;
    float: left;
    overflow: hidden;
    outline-style:auto;
    outline-color: blue;
    outline-width: 5px;
    outline-offset: 5px;
    

}
div2{

}